<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo-List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div>
        <div class="box" id="heading">
            <h1> <%= kindOfDay %> </h1>
        </div>
    
        <div class="box">
            <% for(let i=0; i<newListItems.length; i++){ %>
                <div class="item">
                    <input type="checkbox">
                    <p class="item-text"> <%= newListItems[i] %> </p>
                    <form class="delete-form" action="/delete" method="post">
                        <input type="hidden" name="index" value="<%= i %>">
                        <button type="submit" class="delete-button">x</button>
                      </form>
                </div>
            <% } %>
            
            <form class="item" action="/" method="post" >
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="button">+</button>
            </form>
        </div> 
    </div>

</body>
</html>